{% extends "base.html" %}
{% block header %}
{% endblock %}
{% block content %}
 <!-- 页面主体 -->
 <div class="body_container">
    <div class="base-layout">
                  <!-- 左侧内容 -->
      <div class="layout-main">
        <div class="article-list-container">
            <div class="article-list-body">
              <div class="article-card">
                <div class="article-card-title">
                    <h1 class="article-card-h1" title="《记仇杯》第一季">全部众筹</h1>
                    </div>
                    </div>
                    {% for zhongchou in zhongchoulist.items %}
                      <div class="article-card">
                        <!-- 众筹1 -->
                        <div class="article-card-header">
                          <div class="article-card-userinfo">
                            <div class="article-card-user">
                              <a href="#" class="user-card-link" target="_blank">
                                <div class="user-card-avater">
                                  <img class="avatar-img" src="{{ url_for('static', filename='img/我的头像.jpg') }}" alt="头像">
                                 <!-- <img class="avatar-img" src={{zhongchou.user_img}} alt="头像"> -->
                                </div>
                              </a>
                              <div class="user-card-info">
                                <a href="#" class="account-user-card-link" target="blank" title="username">
                                  <span class="account-user-card-name">{{zhongchou.author}}</span>
                                </a>
                              </div>
                              <div>
                                <p class="post-time">{{zhongchou.post_date.strftime('%Y-%m-%d')}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <a href="/zhongchou-details/{{zhongchou.id}}" class="article-card-link" target="_blank">
                          <div class="article-card-title">
                            <h3 class="article-card-h3" title="title">{{zhongchou.title}}</h3>
                            </div>
                            <div class="article-card-content">
                              {{zhongchou.body}}
                            </div>
                            <div class="article-card-content">
                              {{zhongchou.groupinfo}}
                            </div>
                          </a>
                            <div class="article-card-footer">
                              <div class="mmv-topic-label-selector mmv-article-card__topics">
                                <div class="mmv-topic-label-selector__item">
                                  <a href="" class="mmv-topic-label-selector__link" target="_blank">
                                    <span>{{zhongchou.character}}</span>
                                  </a>
                                </div>
                              </div>
                              <div  class="article-card-data">
                              <div class="article-card-data-item">
                                <i class="mmv-icon iconfont icon-liulanshu"></i>
                                <span>{{zhongchou.views}}</span>
                              </div>
                              <!-- <div class="article-card-data-item">
                                <i class="mmv-icon iconfont icon-liuyanshu"></i>
                                <span>2269</span>
                              </div> -->
                              <!-- <div class="article-card-data-item">
                                <i class="mmv-icon iconfont icon-dianzan"></i>
                                <span>2579</span>
                              </div> -->
                            </div>
                            </div>
                          </div>
                          {% endfor %}   
                </div>
                <div class="container" style="float: left;">
                  Page:     
                  {% for page in zhongchoulist.iter_pages() %}  
                    {% if page %}
                        <a href="{{url_for('zhongchoulist')}}/{{ page }}">{{ page }}</a>
                    {% else %}
                        ...
                    {% endif %}
                  {% endfor %}    
                <!-- <div class="article-list-footer">
                    <div class="loadmore">
                      <button>点击加载更多</button>
                    </div> -->
                  
                  </div>


                  </div>     
           
    </div>
    <div class="sub-layout">
        <!-- 右侧发布栏 -->
<div class="home-post">
  <div class="home-post-header">互动</div>
  {% if session.username %}
  <div class="home-post-block">
    <p><button class="w3-button w3-yellow" onclick="window.location.href='/post-zhongchou'">发布众筹</button></p>
    <p class="home-post-explain">与志同道合的伙伴一起筹办比赛</p>
  </div>
  {% else %}
  <div class="home-post-block">
    <p><button class="w3-button w3-yellow" onclick="window.location.href='/login'">请先登录</button></p>
    <p class="home-post-explain">登录后可以发布内容</p>
  </div>
  {% endif %}
</div>

        </div>
      </div>

    </div>
{% endblock %}
    